<!DOCTYPE html>
<!-- By IAN SOO, 9AMB -->
<html>
	<head>
		<meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	    <title class="SAFTI 23rd Anniversary"></title>

	    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
	    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">

	    <style>
			#app, #app nav {
				background-color: black;
				color: white;
			}

			.title, .subtitle {
				color: white;
			}

			.subtitle.is-1 {
				font-size: 4rem;
			}

	    	.is-flex {
	    		display: flex;
	    	}
	    	.is-flex.is-centered {
	    		justify-content: center;
	    		align-items: center;
	    	}
			.is-flex.is-column {
				flex-direction: column;
			}

	    	.hero {
	    		height: calc(100vh - 52px - 52px);
	    	}

	    	.progress-rectangle {
    		width: 100%;
    		max-width: 500px;
				height: 100%;
				max-height: calc(50vh - 52px - 52px);
				background-color: lightgrey;
				position: relative;
	    	}
	    	.progress-rectangle .line {
				position: absolute;
				width: 50px;
				height: 100%;
				max-height: 3px;
				bottom: 100%;
				right: -60px;
				background-color: lightgrey;
				transform: translateY(50%);
	    	}
	    	.progress-rectangle .target {
				position: absolute;
				color: #F2C94D;
				font-size: 4rem;
				bottom: 100%;
				right: -220px;
				transform: translateY(45%);
	    	}
	    	.progress-rectangle .mark {
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: black;
	    	}
	    	.progress-rectangle .target-mark {
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: gold;
	    	}
	    	.progress-rectangle .current {
	    		position: absolute;
	    		width: 100%;
	    		bottom: 0;
	    	}

	    	.bottom {
	    		height: 52px;
	    	}

	    	@media screen and (max-width: 768px) {
	    		.progress-rectangle {
	    			max-width: 200px;
	    		}
	    		.progress-rectangle .line {
					width: 20px;
					right: -30px;
	    		}
	    		.progress-rectangle .target {
	    			font-size: 1.2rem;
	    			right: -80px;
	    		}
	    	}
	    </style>
    </head>
	<body>
		<div id="app">
			<nav class="navbar" role="navigation" aria-label="main navigation">
			  	<div class="navbar-brand">
			  		<a class="navbar-item" href="/">
      					<img src="./Assets/Images/SaftiCrest.png" alt="SAFTI Crest" width="28" height="28">
      					<span class="title is-4">&nbsp;&nbsp;SAFTI 23rd Anniversary</span>
    				</a>
			  	</div>
			</nav>
			<section class="hero is-flex is-centered is-column">
				<div ref="progressRectangle" class="progress-rectangle">
					<div class="line" :style="{ bottom: targetPosition }"></div>
					<div class="target" :style="{ bottom: targetPosition }">{{ targetLaps }}</div>
					<!-- <div ref="progressCurrent" class="current" :style="{ height: progressCurrentHeight, 'background-color': progressCurrentBackgroundColor }"></div> -->
					<div v-for="(block, i) in blockList"
						class="current"
						:style="{ bottom: `${block.index * 100 / numberOfBlocks}%`, height: progressCurrentBlockHeight(block.index), 'background-color': block.color }">
					</div>
					<div v-for="mark in markList"
						class="mark"
						:style="{ bottom: `${mark * 100 / numberOfBlocks}%` }">
					</div>
					<div class="target-mark" class="target-mark" :style="{ bottom: targetPosition }"></div>
				</div>
				<br>
				<p class="subtitle is-1 has-text-centered">{{ currentLaps }} Laps Completed</p>
			</section>
			<section class="bottom has-text-centered">
				<small class="is-size-7">
					&copy; <span v-html="copyright"></span> Singapore Armed Forces Training Institute.
					<br>
					Developed by
					<b-tooltip ref="tooltip"
						:always="isTooltipAlwaysOn"
						label="Ian Soo, 9AMB"
						type="is-white"
						@touchstart.native="isTooltipAlwaysOn = !isTooltipAlwaysOn"
						@touchend.native="isTooltipAlwaysOn = !isTooltipAlwaysOn">
						I.S.
					</b-tooltip>
				</small>
			</section>
		</div>

		<!-- Production vuejs -->
		<script src="https://vuejs.org/js/vue.min.js"></script>
	    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
	    <script src="https://www.gstatic.com/firebasejs/5.5.3/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/5.5.3/firebase-firestore.js"></script>
		<script>
			// Initialise Firebase
			const config = {
				apiKey: "AIzaSyCIyywDc1cXYRCQS1GO8cBiPJyRT78Xv1o",
				authDomain: "saftiswim.firebaseapp.com",
				databaseURL: "https://saftiswim.firebaseio.com",
				projectId: "saftiswim",
				storageBucket: "saftiswim.appspot.com",
				messagingSenderId: "824525142263"
			}
			firebase.initializeApp(config)
			const firestore = firebase.firestore()
			const firestoreSettings = { timestampsInSnapshots: true }
			firestore.settings(firestoreSettings)

			// Initialise Vue
			const app = new Vue({
				el: '#app',
				data: {
					swimStatsRef: null,
					currentLaps: 0,
					targetLaps: 0,
					progressColors: [],
					isTooltipAlwaysOn: false,
				},
				beforeCreate() {
					this.swimStatsRef = firestore.collection('swim').doc('stats')
					this.swimStatsRef
						.onSnapshot(doc => this.updateStats(doc))
				},
				methods: {
					updateStats(doc) {
						if (doc.exists) {
							let stats = doc.data()
							this.currentLaps = stats.currentLaps
							this.targetLaps = stats.targetLaps
							this.progressColors = stats.progressColors
						} else {

						}
					},
					progressCurrentBlockHeight(i) {
						return `${Math.max(Math.floor(this.currentLaps * 4 / this.targetLaps / this.numberOfBlocks * 100) - (100 / this.numberOfBlocks * i), 0)}%`
					},
				},
				computed: {
					numberOfBlocks() {
						return Math.max(4, Math.ceil(this.currentLaps / this.targetLaps * 4))
					},
					blockList() {
						let blocks = []
						for (let i = this.numberOfBlocks - 1; i >= 0; i--) {
							blocks.unshift({ index: i, color: this.progressColors[i] })
						}
						return blocks
					},
					markList() {
						let marks = []
						for (let i = this.numberOfBlocks - 1; i > 0; i--) {
							marks.unshift(i)
						}
						return marks
					},
					targetPosition() {
						return `${100 / this.numberOfBlocks * 4}%`
					},
					progressCurrentHeight() {
						return `${Math.floor(this.currentLaps / this.targetLaps * 100)}%`
					},
					copyright() {
						let now = new Date()

						return now.getYear() <= 118 ? '2018' : `2018 &#8211; ${now.getYear() + 1900}`
					}
				},
			})
		</script>
	</body>
</html>
